AplicacionEmpresa/Web References/WS_NEPS2/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://services.ws.autorizaciones.salud.neps.com.co/tipos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://services.ws.autorizaciones.salud.neps.com.co/tipos" />
      <s:element name="RadicarSolicitudBackOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:DTORadicacionSolicitudBackOffice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTORadicacionSolicitudBackOffice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="1" name="numeroSolicitud" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaSolicitud" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaServicio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" default="2" name="tipoServicio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="2" name="prioridadAtencion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="origenAtencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ubicacionPaciente" type="tns:Ubicacion" />
          <s:element minOccurs="0" maxOccurs="1" name="ips" type="tns:Ips" />
          <s:element minOccurs="0" maxOccurs="1" name="identificacionAfiliado" type="tns:Identificacion" />
          <s:element minOccurs="0" maxOccurs="1" name="nombresAfiliado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellidosAfiliado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailAfiliado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="preferenciaRespuesta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="plan" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ambito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="diagnosticos" type="tns:ArrayOfDiagnostico" />
          <s:element minOccurs="0" maxOccurs="1" name="gruposTipoAtencion" type="tns:ArrayOfGrupoTipoAtencion" />
          <s:element minOccurs="0" maxOccurs="1" name="profesionalSolicitante" type="tns:ProfesionalSalud" />
          <s:element minOccurs="0" maxOccurs="1" name="personaSolicitante" type="tns:PersonaSolicitante" />
          <s:element minOccurs="1" maxOccurs="1" name="origenSolicitud" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="direccionamientoSolicitud" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="direccionamientoSolicitudObservacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="manejoIntegralSegunGuia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="tiempoTratamiento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="direccionamientoSolicitudSpecified" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ubicacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ips">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="tns:IdentificacionIps" />
          <s:element minOccurs="0" maxOccurs="1" name="codigoSucursal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacionIps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoIdentificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroIdentificacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Identificacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoIdentificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroIdentificacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDiagnostico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Diagnostico" nillable="true" type="tns:Diagnostico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Diagnostico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGrupoTipoAtencion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GrupoTipoAtencion" nillable="true" type="tns:GrupoTipoAtencion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GrupoTipoAtencion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoAtencion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicios" type="tns:ArrayOfServicioSalud" />
          <s:element minOccurs="0" maxOccurs="1" name="archivosAdjuntos" type="tns:ArrayOfArchivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServicioSalud">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServicioSalud" nillable="true" type="tns:ServicioSalud" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServicioSalud">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoAtencion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArchivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Archivo" nillable="true" type="tns:Archivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Archivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contenido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoDocumental" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProfesionalSalud">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="tns:IdentificacionIps" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="especialidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonaSolicitante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="tns:Identificacion" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RadicarSolicitudBackOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RadicarSolicitudBackOfficeResult" type="tns:Salida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Salida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:preautorizaciones" />
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:autorizaciones" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:resultado" />
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s1:radicaciones" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.ws.autorizaciones.salud.neps.com.co/tipos">
      <s:element name="preautorizaciones" type="s1:Preautorizacion" />
      <s:complexType name="Preautorizacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroPreautorizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s1:ServicioSalud" />
          <s:element minOccurs="0" maxOccurs="1" name="informacionComplementaria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ips" type="s1:Ips" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccionIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefonoIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departamentoIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipioIPS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServicioSalud">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoAtencion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ips">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s1:IdentificacionIps" />
          <s:element minOccurs="0" maxOccurs="1" name="codigoSucursal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentificacionIps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tipoIdentificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroIdentificacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="autorizaciones" type="s1:Autorizacion" />
      <s:complexType name="Autorizacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s1:ServicioSalud" />
          <s:element minOccurs="0" maxOccurs="1" name="informacionComplementaria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ips" type="s1:Ips" />
        </s:sequence>
      </s:complexType>
      <s:element name="resultado" type="s1:Resultado" />
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="radicaciones" type="s1:Radicacion" />
      <s:complexType name="Radicacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroRadicacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaRadicacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="grupoAsignado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaPromesaServicio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s1:ServicioSalud" />
          <s:element minOccurs="0" maxOccurs="1" name="informacionComplementaria" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RadicarSolicitudBackOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:RadicarSolicitudBackOffice" />
  </wsdl:message>
  <wsdl:message name="RadicarSolicitudBackOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:RadicarSolicitudBackOfficeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="RadicarSolicitudBackOffice">
      <wsdl:input message="tns:RadicarSolicitudBackOfficeSoapIn" />
      <wsdl:output message="tns:RadicarSolicitudBackOfficeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RadicarSolicitudBackOffice">
      <soap:operation soapAction="http://tempuri.org/RadicarSolicitudBackOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RadicarSolicitudBackOffice">
      <soap12:operation soapAction="http://tempuri.org/RadicarSolicitudBackOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44372/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44372/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>